target
.settings/
.project
.classpath
.cache
*.txt
report/report.aux
report/report.log
report/report.synctex.gz
report/report.bbl
report/report.blg
report/report.pdf
report/mapreduce.log
report/references.bbl
report/references.blg
report/references.log
