
#unicorn
{
	overflow:hidden;
}

#animated_div
{
width:110px;
height:90px;
background:url("../img/charlieunicorn.png");
background-size:110px 90px;
position:relative;
left:-110px;

}

#animated_div.active
{
	animation:animated_div 15s linear infinite;
	-moz-animation:animated_div 15s linear infinite;
	-webkit-animation:animated_div 15s linear infinite;
	-o-animation:animated_div 15s linear infinite;
}

@keyframes animated_div
{
0%		{left:-110px;}
100%	{left:100%;}
}

@-webkit-keyframes animated_div
{
0%		{left:-110px;}
100%	{left:100%;}
}

@-moz-keyframes animated_div
{
0%		{left:-110px;}
100%	{left:100%;}
}

@-o-keyframes animated_div
{
0%		{left:-110px;}
100%	{left:100%;}
}
